


.footer {
	background-image : url('../img/classy_fabric.png')  ;
	background-repeat : repeat ;
}

.navbar .brand {
    font-size: 30px;
    padding-top: 3px;
}

.afterbanner {
margin-top : 50px;
}

/* Footer
-------------------------------------------------- */
.footer {
    margin-top: 45px;
    padding: 35px 25px 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

.footer ul {
    overflow: hidden;
    padding-bottom: 4px;
    list-style: none;
}

.footer li {
    float: left;
    padding: 0 8px;
    border-left: 1px solid #CCC;
}